@model FinalProject.Models.Transcation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transcation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayeeAccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeAccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenificiaryAccNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenificiaryAccNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IFSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IFSC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
